// green borders - done
// red borders - problem
// black border - WIP
//  DELETE WHEN DONE :> 

$Vdarkblue: hsl(220, 13%, 13%);
$Dgrayblue: hsl(219, 9%, 45%);
$grayblue: hsl(220, 14%, 75%);
$Lgrayblue: hsl(223, 64%, 98%);
$black: hsla(0, 0%, 0%, .75);
$orange: hsl(26, 100%, 55%);
$Poragne: hsl(25, 100%, 94%);
$Kumbh: "Kumbh Sans";

// hide menu on default
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}

.menu-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: $black;
}

.menu {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    
    z-index: 4;

    #close {
        padding: 20px 0 0 20px;
    }

    ul {
        margin-top: 40px;
        padding-left: 20px;
    }

    li {
        list-style: none;
        font-family: $Kumbh;
        font-weight: 700;
        line-height: 50px;
        font-size: 18px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}


nav {
    width: 100%;
    height: 68px; 

    .menu-container {
        // display: flow-root;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    img {
        display: inline-block;
        z-index: 1;
    }

    .menu-button {
        width: 100%;
        max-width: 16px;
        max-height: 15px;
        margin-left: 24px;
    }

    .logo {
        width: 100%;
        max-width: 137.5px;
        margin-left: 12px;
    }

    .cart-avatar {
        margin-right: 20px;
        transform: translateY(-90%);
        width: fit-content;
        float: right;
        
        #avatar {
            width: 100%;
            max-width: 24px;
            margin-left: 22.18px;
        }
    }
}

.slideshow-container {
    position: relative;
    height: fit-content;
    width: 100%;
    z-index: -1;

    .slide {
        display: none;
        z-index: -1;
        
        img {
            width: 100%;
            height: auto;
        }
    }
    
    // this might just stay here until I start adding js; DELETE WHEN DONE
    .slide:nth-child(1){
        display: block;
    }

    .arrow {
        position: absolute;
        background-color: white;
        border-radius: 100%;
        padding: 20px;
        z-index: -0;
    }

    .next {
        right: 0;
        margin-right: 10px;
        top:50%;
        transform: translateY(-50%);
    }

    .prev {
        left: 0;
        margin-left: 10px;
        top:50%;
        transform: translateY(-50%);
    }
}

.content-container {

    .orange-text {
        margin-left: 24px;
        font-family: $Kumbh;
        font-size: 12px;
        font-weight: 700;
        color: $orange;
        letter-spacing: 1.85px;
    }

    .bold-text {
        margin-left: 24px !important; 
        font-family: $Kumbh;
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }

    .discription {
        margin-left: 24px;
        margin-bottom: 0;
        font-family: $Kumbh;
        font-size: 15px;
        color: $Dgrayblue;
        line-height: 25px;
    }

    .price-container {
        font-family: $Kumbh;

        p {
            display: inline-block;
            width: fit-content;
        }

        .price {
            font-size: 28px;
            font-weight: 700;
            margin-left: 24px;
        }

        .discount {
            background-color: $Poragne;
            // border: 1px solid black;
            border-radius: 5px;
            display: inline-block;
            margin-left: 5px;
            padding: 0 7px;
            // height: fit-content;
            
            p{
                font-size:16;
                font-weight: 700;
                color: $orange;
                line-height: 0;
            }
        }

        .old-price {
            float: right;
            color: $grayblue;
            margin-right: 24px;
            font-weight: 700;
            text-decoration: line-through;
            position: relative;
            line-height: 3.7;
            
        }
    }
}

.quantity {
    background-color: $Lgrayblue;
    border-radius: 10px;
    width: 100%;
    max-width: 327px;
    height: 56px;
    margin: 0 auto;

    p {
        margin: 0 auto;
        width: fit-content;
        font-family: $Kumbh;
        font-weight: 700;
    }

    .text-box {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .plus {
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .minus {
        margin-left: 60px;
        position: relative;
        top: 35%;
        transform: translateY(-50%);
    }
}

.add-to-cart {
    background-color: $orange;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 327px;
    height: 56px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .cart-text {
        p,img {
            display: inline-block;
        }

        img {
            margin-right: 10px;
            filter: brightness(300%);
        }

        p {
            font-family: $Kumbh;
            font-weight: 700;
            color: white;
        }
    }
}